.card{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 2rem; */
    width: 100%;
    background-color: rgba(185, 179, 179,.4);
}


.cardItem{
    width: calc(100% /5);
   padding: 5px;
   margin: 2rem;
   text-align: center;
   background-color: gray;
   overflow: hidden;
   transition: 1s;
}
.cardItem:hover{
transform: scale(1.1);
}

